html
  include head.pug

  body
    h1= message
    div(class="search-container")
      input(type="text" id="search" placeholder="Søg")

    div(class="itemlist")
      if list    
        each item in list
          include item.pug

    if button
    a(href="/make")= button

    h3='del liste'

    if list
      p= urlto  + 'join/' +  list[0].list
    div(class="menu-container show") 
      div(class="menu")
        button( class="newitem button")
