html
  include head.pug
  body
    h1= message
    div(class="search-container")
      input(type="text" id="search" placeholder="Søg")

    div(class="itemlist")
      if list    
        each cat in list
          div(class="category-container")
            h6=cat.name
            each item in cat.items
              include item.pug

    if list
      input( type="text" name="hiddenurl" id="hiddenurl" value=urlto  + 'join/' +  list[0].list)
    div(class="menu-container show") 
      div(class="menu")
        div( class="share button round small")='del'
        div( class="newitem button round big")
        div( class="totop button round small")
          span 
          span  
          span
