html
  include head.pug
  body(class="blue")
    div(class="container")
      div(class="dosmer-icon")
      h1= "Dosmer"
      p= "En indkøbsseddel du kan dele med dem du kender der gider købe ind for dig."
      a(href="/make" class="button pink")= "Lav en liste"
