@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Kulim+Park:300,400,700&display=swap");
/* RGB */
body, html {
  background-color: rgba(239, 239, 239, 0.1);
  margin: 0;
  padding: 0;
  font-family: 'Kulim Park', sans-serif;
}

.category-container h6 {
  text-align: center;
  text-transform: uppercase;
  color: #ccc;
  margin: 1.75rem 0;
  position: relative;
}

.category-container h6:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.category-container h6:only-child {
  display: none;
}

.itemlist {
  padding-bottom: 100px;
}

.item {
  background-color: #fff;
  padding: 1rem;
  padding-right: 0;
  margin: .5rem;
  position: relative;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.item:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 69px;
  height: 60%;
  background: transparent;
  border-left: 1px solid #ffadbd;
}

.item:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  border-radius: 0 8px 8px 0;
  width: 70px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/accept-circular-button-outline.svg");
  background-size: 22px;
  opacity: 1;
}

.item.active:after {
  opacity: 1;
  background-color: rgba(255, 173, 189, 0.5);
  background-image: url("../images/cart.svg");
  -webkit-animation: slide 1s linear infinite;
          animation: slide 1s linear infinite;
}

@-webkit-keyframes slide {
  0% {
    background-position: -50% 50%;
  }
  100% {
    background-position: 150% 50%;
  }
}

@keyframes slide {
  0% {
    background-position: -50% 50%;
  }
  100% {
    background-position: 150% 50%;
  }
}

.item.on:after {
  opacity: 1;
  background-color: #413c58;
  background-image: url("../images/cart.svg");
}

.item input[type=checkbox] {
  visibility: hidden;
  margin-left: 2rem;
}

.item input[type=text] {
  background: transparent;
  border: none;
  font-family: 'Kulim Park', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #413c58;
  max-width: 160px;
}

.item .pseudo-select {
  pointer-events: none;
  width: 26px;
  height: 26px;
  border: 2px solid #413c58;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 92px;
  background-image: url("../images/categories/battery-level.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.item .pseudo-select.køl-og-mejeri {
  background-image: url("../images/categories/milk.svg");
}

.item .pseudo-select.kolonial {
  background-image: url("../images/categories/beans.svg");
}

.item .pseudo-select.frugt-og-grønt {
  background-image: url("../images/categories/pear.svg");
}

.item .pseudo-select.kød {
  background-image: url("../images/categories/ham.svg");
}

.item .pseudo-select.fisk-og-skaldyr {
  background-image: url("../images/categories/fish.svg");
}

.item .pseudo-select.frost {
  background-image: url("../images/categories/frozen.svg");
}

.item .pseudo-select.brød-kiks-og-kager {
  background-image: url("../images/categories/croissant.svg");
}

.item .pseudo-select.drikkevarer {
  background-image: url("../images/categories/beer-bottle.svg");
}

.item .pseudo-select.vin {
  background-image: url("../images/categories/wine.svg");
}

.item .pseudo-select.blomster-og-have {
  background-image: url("../images/categories/flower.svg");
}

.item .pseudo-select.kiosk-slik-og-snacks {
  background-image: url("../images/categories/candy.svg");
}

.item .pseudo-select.pleje-og-skønhed {
  background-image: url("../images/categories/shampoo.svg");
}

.item .pseudo-select.baby-børn-og-legetøj {
  background-image: url("../images/categories/pacifier.svg");
}

.item .pseudo-select.husholdning-og-isenkram {
  background-image: url("../images/categories/lamp.svg");
}

.item select {
  background-color: transparent;
  color: transparent;
  border-radius: 8px;
  margin-right: 0px;
  max-width: 160px;
  padding: 0px;
  border: 1px solid transparent;
  font-family: 'Kulim Park', sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.item select option {
  color: #413c58;
}

.menu-container {
  position: fixed;
  bottom: -150px;
  left: 0;
  width: 100%;
  height: 60px;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.menu-container.show {
  bottom: 0;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.menu-container .menu {
  width: 100%;
  height: 60px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0.1px 14px -4px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 0.1px 14px -4px rgba(0, 0, 0, 0.29);
}

.menu-container .menu .button {
  background-color: #413c58;
  color: #ffadbd;
  text-align: center;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
}

.menu-container .menu .button span.text {
  display: inline-block;
  position: absolute;
  top: 44px;
  left: 0%;
  width: 100%;
  text-align: center;
  color: #413c58;
}

.menu-container .menu .button.big {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin-top: -80px;
  line-height: 80px;
}

.menu-container .menu .button.big span.text {
  top: 54px;
}

.menu-container .menu .button.small {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin-top: -60px;
  line-height: 60px;
}

.menu-container .menu .button.newitem:after, .menu-container .menu .button.newitem:before {
  content: "";
  width: 50%;
  height: 2px;
  top: 50%;
  border-radius: 2px;
  background: #ffadbd;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu-container .menu .button.newitem:after {
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}

.menu-container .menu .button.share {
  background-image: url("../images/share.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 45% 50%;
}

.menu-container .menu .button.totop span:not(.text) {
  background: #ffadbd;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  height: 2px;
  border-radius: 2px;
  top: 20px;
}

.menu-container .menu .button.totop span:not(.text):nth-child(2) {
  width: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}

.menu-container .menu .button.totop span:not(.text):nth-child(3) {
  left: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-container .menu .button.totop span:not(.text):nth-child(4) {
  left: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search-container {
  width: auto;
  height: auto;
  background: #413c58;
  padding: .5rem;
}

.search-container input {
  padding: 1rem;
  width: 100%;
  background: #fff;
  color: #413c58;
  border-radius: 6px;
  border: none;
}

.search-container input::-webkit-input-placeholder {
  color: #413c58;
}

.search-container input:-ms-input-placeholder {
  color: #413c58;
}

.search-container input::-ms-input-placeholder {
  color: #413c58;
}

.search-container input::placeholder {
  color: #413c58;
}

#hiddenurl {
  opacity: 0;
}

a.link {
  text-align: center;
  color: #ffadbd;
  margin-top: 2rem;
}

.dosmer-icon {
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
  background-color: transparent;
  background-image: url("../images/cart.svg");
  background-size: 24px;
  border-radius: 60px;
  border: 2px solid #ffadbd;
}

h1 {
  font-size: 72px;
  font-weight: 900;
  color: #ffadbd;
  margin: 0;
}

.container {
  padding: 40px;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container h1, .container h3, .container p {
  text-align: center;
}

body.pink {
  background-color: #ffadbd;
}

body.blue {
  background-color: #413c58;
}

body.blue p {
  color: #fff;
}

a.button {
  background: #413c58;
  color: #fff;
  padding: 16px 24px;
  width: 100%;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.075);
  margin-top: 50px;
}

a.button.pink {
  background-color: #ffadbd;
  color: #413c58;
}

.attr {
  padding: 2rem 15px 10rem 15px;
}

.attr p {
  font-size: 10px;
  line-height: 12px;
  color: #ccc;
}

.attr p a {
  color: #ffadbd;
}
/*# sourceMappingURL=style.css.map */